.scoreboard {
  display: flex;
  background-color: #131214;
  border-left: 1px solid white;
  color: #e3a807;
  min-height: 20rem;
  min-width: 10rem;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
}

.header {
  height: 2rem;
}

.counter {
  font-size: 2rem;
}
